.activeLayer {
    background: rgba(139, 146, 99, 0.2);
    input {
        width: 159px;
    }
}
.singleLayer{
    transition: .2s ease-in-out padding;
    img {
        height: 11px;
    }
}
.drag_under {
    padding-top: 8px;
    padding-bottom: 8px;
    color: red;
}