#leftpane {
    background: linear-gradient(to left, rgba(0,0,0,0.05), transparent 8%);
}
.settings_entry {
    transition: .2s ease-in-out all;
    cursor: pointer;
    padding-left: 5px;
    &:hover {
        background: rgba(0,0,0,.2);
        color: #fff;
    }
}
.active_settings_entry {
    font-weight: 900;
}