#placeholder_settings {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  img {
    height: 100px;
    margin-bottom: 33px;
  }
  div {
    font-weight: 900;
    font-size: 24px;
  }
}
