body, html {
    width: 100%;
    margin:0;
    padding: 0;
    display: flex;
    user-select:none;
    height: 100%;
    background: #ececec;
    overflow: hidden;
}
#settingsContainer {
    display: grid;
    grid-template-columns: 177px auto;
    grid-gap: 10px;
    width: 100%;
    padding-top: 40px;
}
#settings_section {
  display: table;
  height: 100%;
}
