.menuActionPanel {
    position: absolute;
    top: 30px;
    left: 10px;
    background: #f5e9d4;
    visibility: hidden;
}
.menuBarActionButton {
    cursor: pointer;
    padding: 2px;
    display:block;
}
