.menuActionPanel {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 10px;
    background: #e6e6e6;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,.15);
}
.menuBarActionButton {
    cursor: pointer;
    padding: 2px;
    display:block;
    padding-left: 14px;
    padding-right: 14px;
    transition: all .2s ease-in-out;
    &:hover {
        background: rgba(0,0,0,.05);
    }
}
