#mainArea {
    height: calc(100% - (var(--height-of-top-bar) + 5px) * 2);
    grid-column: 2;
}
.drawAnimateSelector {
    background: linear-gradient(to top, #c56f02, #f7a553);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,.2);
    border:none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'FranklinGothicDemiC';
    color: #fff3e0;
    font-size: 16px;
    margin:2px;
    cursor: pointer;
    transition: .2s ease-in-out box-shadow;
    &:hover {
        box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
    }
}
#drawingArea {
    margin-top:10px;
    height: calc(100% - 50px);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
}
