:root {
    --height-of-top-bar: 30px;
}

body, html {
    width: 100%;
    margin:0;
    padding: 0;
    display: flex;
    user-select:none;
    height: 100%;
    background: #ececec;
}

#programContainer {
    display: grid;
    grid-template-columns: 43px auto 200px;
    grid-gap: 10px;
    width: 100%;
    padding-top: 40px;
}