<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="{{ site.baseurl }}/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/index.css" />
</head>
<body>
    <aside>
        <img id='logo_left' src="{{site.baseurl}}/assets/images/templogo.png">
        <div id='logo_name'>Dynosign</div><br />
        <div id='tooltip_main'>FOSS UI/UX tool</div>
        <div id='gh-stars-block'>
            <iframe src="https://ghbtns.com/github-btn.html?user=FallenAngel97&repo=dynosign&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </div>
        <ul class="navigation_menu">
        {% for item in site.data.pageslist.menu %}
            {% if page.url == item.url %}
                <li class="navigation_link active_link"><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% else %}
                <li class="navigation_link"><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </aside>
    <main>
        {{content}}
    </main>
</body>
</html>