.toolsLeftPanel {
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    cursor: pointer;
}

#leftBar {
    background: #f3cfaf;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 2px 1px rgba(darken(#f3cfaf, 50%),.3);
    height: calc(100% - (var(--height-of-top-bar) + 5px) * 2);
    margin-top: 50%;
    grid-column: 1;
    position: relative;
    width: 43px;
}
.buttonWrapper {
    height: 38px;
    width: 38px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
        background: rgba(206, 68, 15, 0.2);
    }
}
.activeLeftButton {
    outline: 1px solid #ce8c3b;
}
.color_small_indicator {
    height: 26px;
    width: 26px;
    background: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    div {
        height: 20px;
        width: 20px;
        background: red;
        display: inline-block;
        margin-top: 3px;
    }
}
.color_picker_dynosign {
    position: absolute;
    left: 48px;
    z-index: 1;
}